USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 1/11/2021 3:35:09 AM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/11/2021 3:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 1/11/2021 3:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[ID] [nvarchar](450) NOT NULL,
	[CustomerID] [nvarchar](450) NULL,
	[dateTime] [datetime2](7) NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillItem]    Script Date: 1/11/2021 3:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillItem](
	[ID] [nvarchar](450) NOT NULL,
	[BillID] [nvarchar](450) NULL,
	[ProductID] [nvarchar](450) NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Price] [float] NOT NULL,
	[Quanity] [int] NOT NULL,
 CONSTRAINT [PK_BillItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/11/2021 3:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[dateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/11/2021 3:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](max) NULL,
	[dateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 1/11/2021 3:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Quanity] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[CategoryID] [nvarchar](450) NULL,
	[dateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 1/11/2021 3:35:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[UserId] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210110181751_CreateDatabase', N'5.0.1')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210110182334_UpdatePriceInBillItem', N'5.0.1')
GO
INSERT [dbo].[Bill] ([ID], [CustomerID], [dateTime], [Total]) VALUES (N'116156248311287214360160124291575685', N'1094646219583714077531522282622016761194', CAST(N'2021-01-11T03:00:54.7858777' AS DateTime2), 204000)
INSERT [dbo].[Bill] ([ID], [CustomerID], [dateTime], [Total]) VALUES (N'21522917018517112281542452222081923612117443', N'2310619136291893419119924524995991391', CAST(N'2021-01-11T01:56:09.4657691' AS DateTime2), 1878000)
GO
INSERT [dbo].[BillItem] ([ID], [BillID], [ProductID], [ProductName], [Price], [Quanity]) VALUES (N'1738215263781933344146207548771771111', N'21522917018517112281542452222081923612117443', N'22393185148301132484011021190224248106119166', N'Ream giấy Paper One', 78000, 5)
INSERT [dbo].[BillItem] ([ID], [BillID], [ProductID], [ProductName], [Price], [Quanity]) VALUES (N'183247862349912318865192711502297209241162', N'21522917018517112281542452222081923612117443', N'3113118625050228180130749329243599697174', N'Bộ chì màu Deli', 124000, 12)
INSERT [dbo].[BillItem] ([ID], [BillID], [ProductID], [ProductName], [Price], [Quanity]) VALUES (N'210638811521717420099225138631401283372128', N'116156248311287214360160124291575685', N'58915618610323675822091203911835201212', N'Bút bi bạc AC2', 28000, 3)
GO
INSERT [dbo].[Category] ([CategoryId], [Name], [Image], [dateTime]) VALUES (N'13012310719887524514864118901503345198200', N'Bút', N'acd26973-1ea9-4703-9b92-521cd4a743d8pen.png', CAST(N'2021-01-11T01:40:34.8688161' AS DateTime2))
INSERT [dbo].[Category] ([CategoryId], [Name], [Image], [dateTime]) VALUES (N'178185190246120762071872029951421309161101', N'Thước', N'b571c57d-f126-4750-95a8-15c26124886cruler.png', CAST(N'2021-01-11T01:40:54.6694430' AS DateTime2))
INSERT [dbo].[Category] ([CategoryId], [Name], [Image], [dateTime]) VALUES (N'3572196629512813767135961594416014390204', N'Sách', N'b34893be-0308-46e2-979c-c788bcd2b8f0open-book.png', CAST(N'2021-01-11T01:41:05.6491868' AS DateTime2))
GO
INSERT [dbo].[Customer] ([ID], [Name], [Phone], [Gender], [Address], [dateTime]) VALUES (N'1094646219583714077531522282622016761194', N'Đào Thị C', N'0812478564', N'Female', N'Hà Nội', CAST(N'2021-01-11T01:54:44.3538045' AS DateTime2))
INSERT [dbo].[Customer] ([ID], [Name], [Phone], [Gender], [Address], [dateTime]) VALUES (N'134651754014310012221786234237131116611868', N'Nguyễn Văn A', N'0123654888', N'Male', N'Hồ Chí Minh', CAST(N'2021-01-11T01:53:41.8980580' AS DateTime2))
INSERT [dbo].[Customer] ([ID], [Name], [Phone], [Gender], [Address], [dateTime]) VALUES (N'21425014212623722168110255221941422722216653', N'Lê Thị B', N'0126554897', N'Female', N'Đà Nẵng', CAST(N'2021-01-11T01:54:09.3832962' AS DateTime2))
GO
INSERT [dbo].[Product] ([ID], [Name], [Image], [Quanity], [Price], [CategoryID], [dateTime]) VALUES (N'111052612019724111518162100235103315283234', N'Ream giấy Double A', N'1a5ec1f2-83dd-4cb9-aa32-1d4dc639411ad1332e2fb3e634a5e2bef2c0385fc6ec.png', 245, 45000, N'574317881151106423597243236929643200103', CAST(N'2021-01-11T01:49:59.0559510' AS DateTime2))
INSERT [dbo].[Product] ([ID], [Name], [Image], [Quanity], [Price], [CategoryID], [dateTime]) VALUES (N'12022321020822010922925517917044717722338217', N'Sách Chúc ngủ ngon', N'7881be82-44ae-4bac-aae1-2f14bc2c29d0d7de19610706d20af2cc24b8c75ea6a4.jpg', 41, 32000, N'3572196629512813767135961594416014390204', CAST(N'2021-01-11T01:44:20.9953580' AS DateTime2))
INSERT [dbo].[Product] ([ID], [Name], [Image], [Quanity], [Price], [CategoryID], [dateTime]) VALUES (N'15055671962288124243501581819118014829', N'Khủng long kỳ thú', N'569ef47b-50a6-4ed0-b81b-a5d8e7f192d23a3af6b0a5d6abf9731ebeeb77ceed63.jpg', 60, 65000, N'3572196629512813767135961594416014390204', CAST(N'2021-01-11T01:41:38.9870399' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bill_CustomerID]    Script Date: 1/11/2021 3:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Bill_CustomerID] ON [dbo].[Bill]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BillItem_BillID]    Script Date: 1/11/2021 3:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_BillItem_BillID] ON [dbo].[BillItem]
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BillItem_ProductID]    Script Date: 1/11/2021 3:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_BillItem_ProductID] ON [dbo].[BillItem]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Category_Name]    Script Date: 1/11/2021 3:35:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Category_Name] ON [dbo].[Category]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Product_CategoryID]    Script Date: 1/11/2021 3:35:09 AM ******/
CREATE NONCLUSTERED INDEX [IX_Product_CategoryID] ON [dbo].[Product]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Product_Name]    Script Date: 1/11/2021 3:35:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Product_Name] ON [dbo].[Product]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserAccount_UserName]    Script Date: 1/11/2021 3:35:09 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserAccount_UserName] ON [dbo].[UserAccount]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BillItem] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Price]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Quanity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Price]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Customer]
GO
ALTER TABLE [dbo].[BillItem]  WITH CHECK ADD  CONSTRAINT [FK_billItem_Bill] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillItem] CHECK CONSTRAINT [FK_billItem_Bill]
GO
ALTER TABLE [dbo].[BillItem]  WITH CHECK ADD  CONSTRAINT [FK_billItem_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BillItem] CHECK CONSTRAINT [FK_billItem_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
